.input__box {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.input__box input {
  font-size: 32px;
  width: 40%;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid white;
}

.input__box input::placeholder {
  color: white;
  opacity: 0.6;
  text-align: center;
}

.input_box input::placeholder:focus {
  opacity: 1;
}
